html,
body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

header {
  padding: 40px 16px;
}
.words {
  display: block;
  padding: 0px 32px;
}

.title {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #00274c;
  font-size: 36px;
  margin-bottom: 40px;
}

.hero {
  width: 100%;
  height: auto;
}

.intro {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #131516;
  font-size: 18px;
  font-weight: bold;
  margin: 0px, 0px, 24px;
}

.introparas {
  font-family: "Open Sans";
  color: #131516;
  font-weight: lighter;
}

form {
  background-color: #00274c;
  color: #fafafa;
  padding: 64px 24px;
  text-align: left;
}
.formTitle {
  font: 24px Georgia, "Times New Roman", Times, serif;
  text-align: center;
  font-weight: bold;
}
label {
  display: block;
  font: 16px "Open Sans";
}
input {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #00274c;
  width: 100%;
  font-size: 16px;
  color: #ffcb05;
  margin: 20px 0px;
  /* margin: ; */
}
select {
  margin: 20px 0px;
}

#program {
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: #00274c;
  font: 16px "Open Sans";
  width: 50%;
  color: White;
}

button {
  background-color: #00274c;
  color: white;
  border-style: solid;
  padding: 8px 32px;
  margin: 20px;
}
.formDiv {
  display: flex;

  justify-content: space-between;
}
.programIntoBlurb {
  font: 18px Georgia, Times;
  margin: 64px 0px 32px;
  text-align: center;
  font-weight: bold;
}
.chooseHeading {
  font: 36px "Open Sans";
  color: #00274c;
  font-weight: bold;
  text-align: center;
}

.programHead {
  font: 24px "Open Sans";
  color: #00274c;
}

.clinical {
  background-color: #ffcb05;
  padding-bottom: 64px;
}
.clinicalHeading {
  font: 36px "Open Sans";
  color: #00274c;
}

.CP {
  font: 16px "Open Sans";
}

.restrictions {
  font: 16px "Open Sans";
}

footer {
  background-color: #00274c;
  color: white;
  text-align: center;
  font: 12px "Open Sans";
  padding-top: 42px;
  padding-bottom: 48px;
}
footer a {
  color: white;
}
footer a:hover {
  color: #ffcb05;
}
footer p {
  margin: 0px;
}
.logos {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  /* align-items: flex-end; */
}
.bold {
  font-weight: bold;
}
.mainLogo {
  margin-bottom: 25px;
}
.change {
  font: 14px "Open Sans";
}
.phone {
  margin-bottom: 15px;
}
